.titles {font-size: x-large; 
color:white;}



body {font-family: 'Lato', sans-serif;
margin: 0;} 




.contenedor{ display: flex;
justify-content: space-between;
width: 100%;
height:100%;
align-items: center;
padding-top: 3rem;
position: relative;
z-index: 500;
background: rgb(0,0,0);
background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.6334908963585435) 57%, rgba(0,0,0,0) 100%);}


  


.titulo {margin-left: 3rem;
  position: relative;
  z-index:200;}



.nav a{ margin-right: 2rem; 
    margin-top:2rem;
    color: white;
    text-decoration: none;}



header {height: 30%}






.caja {
   display: flex;}











.peliculas { 
position: absolute;
margin: 750px auto 0 auto!important;}










.banner {position: absolute;
top: 0;
z-index: 1;
width:100% ;}



.banner img {width:100%;}




.nav {position: relative;
  z-index:200;}


@media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) {
nav {font-size: 10px;}
h1 {font-size: 14px;}
.contenedor {padding-top: 1rem;}
.peliculas {margin: 6rem 0 0 0 !important;}
.peliculas img {width: 20%;}}


  .buscador {width:50%;height:100px;
  font-size: 5rem;
  }

  .lupa{font-size: 5rem;}



  
